@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
:root
{
--White: hsl(0, 0%, 100%);
--Stone100: hsl(30, 54%, 90%);
--Stone150: hsl(30, 18%, 87%);
--Stone600: hsl(30, 10%, 34%);
--Stone900: hsl(24, 5%, 18%);
--Brown800: hsl(14, 45%, 36%);
--Rose800: hsl(332, 51%, 32%);
--Rose50: hsl(330, 100%, 98%);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Young Serif", serif;
    /* font-family: "Outfit", sans-serif; */
}

body
{
    max-width: 1440px;
    background-color: var(--Stone100);
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recipe
{
    width: 700px;
    background-color: var(--White);
    border-radius: 10px;
    margin: 20px 0;

}
.container
{
    /* width: 90%; */
    margin:15px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container > img
{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

.container > h1
{
    font-size: 39px;
    font-weight: 400;
    margin: 20px 0 5px;
}

.container > p , .container > .nutrition p
{
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px;
  padding: 0px 14px 0px 0px;
  color: var(--Stone600);
}


.container  > .preparation_time
{
    background-color: var(--Rose50);
    padding: 30px;
    margin: 20px 0;
    
}

.container  > .preparation_time > h3
{
    font-size: 20px;
  font-weight: 600;
  color: var(--Rose800);
  font-family: "Outfit", sans-serif;
  margin-bottom: 0px;
  padding-bottom: 15px;

}

.container  > .preparation_time > ul
{
    margin: 0 20px;
    

}
.container  > .preparation_time > ul >li
{
    color: var(--Rose800);
    font-family: "Outfit", sans-serif;
    margin-bottom: 10px;
   


}
.container  > .preparation_time > ul >li > .preparation_time_span
{
    margin-left: 20px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight:700;
    color: var(--Stone600);
    padding-right: 2px;

    
}
.container  > .preparation_time > ul >li > .preparation_time_span_2
{
    font-family: "Outfit", sans-serif;
    color: var(--Stone600);
}

.container > .ingredients
{
    margin-bottom: 25px;
    border-bottom: 1px solid var(--Stone150);
    padding-bottom: 20px;

}

.container > .ingredients > h3, .container > .Instructions > h3 , .container > .nutrition > h3
{
    color: var(--Brown800);
  font-size: 26px;
  font-weight: 400;
 
}

.container > .ingredients > ul
{
  margin: 10px 16px;
  color: var(--Rose800);
}
.container > .ingredients > ul > li
{
  margin: 5px;
  
}

.container > .ingredients > ul > li > .ingredients_span
{
    margin: 20px;
    color: var(--Stone600);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container > .Instructions
{
    margin-bottom: 25px;
    border-bottom: 1px solid var(--Stone150);
  padding-bottom: 20px;

}



.container > .Instructions > ul
{
  margin: 10px 16px;
  color: var(--Brown800);
  list-style-type: decimal;

}

.container  > .Instructions > ul >li
{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}
.container  > .Instructions > ul >li > div
{
    margin-left: 20px;
    margin-bottom: 10px;
}

.container  > .Instructions > ul >li > div > .Instructions_span_bold
{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight:700;
    color: var(--Stone600);
    padding-right: 2px;

    
}
.container  > .Instructions > ul >li > div > .Instructions_span_thin
{
    font-family: "Outfit", sans-serif;
    color: var(--Stone600);
    font-weight: 400 !important;
    
}

.container > .nutrition
{
    padding-bottom: 20px;
}
.container > .nutrition > .nutritional_values >.nutritional_values_container
{
    width: 580px;
    margin: auto;
    display: flex;
    gap: 30px;
    align-items: center;
}
.container > .nutrition > .nutritional_values
{
    display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid var(--Stone150);
}

.container > .nutrition > .nutritional_values:last-child
{
    border-bottom: none;
}

.container > .nutrition > .nutritional_values > .nutritional_values_container > h3,
.container > .nutrition > .nutritional_values > .nutritional_values_container > p
{
    
   width: 49%;
}
.container > .nutrition > .nutritional_values > .nutritional_values_container > h3
{
    font-family: "Outfit", sans-serif;
   font-size: 16px;
   font-weight: 600;
   color:var(--Brown800);
   width: 49%;
}


@media (max-width:700px)
{
    .recipe
{
    width: 400px;
}
}


@media (max-width:375px)
{
    .recipe
{
    width: 300px;
}
}